{% extends 'base.html' %}

{% block content %}
{% if not recipe or request.user == recipe.author %}
<div class="container">
    <div class="row">
        <div class="col text-left" style="margin-top: 10px; margin-bottom: 10px">
            <h2>{{ pagename }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endif %}
{% endblock  %}
