{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-left" style="margin-top: 10px; margin-bottom: 10px">
            <h3>{{ pagename }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Автор</th>
                    {% if request.user.is_authenticated %}<th scope="col">Статус</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for recipe in object_list %}
                    <tr>
                        <td><a href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a>
                        </td>
                        <td>{{ recipe.type }}</td>   
                        <td>{{ recipe.published_date }}</td>
                        <td>{{ recipe.author.username }}</td>
                        {% if request.user.is_authenticated %}
                        <td>{% if recipe.private_choise == 'PR' %}виден мне{% else %}виден всем{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего: {{ count }}</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}